/* 
h2{
    color: #FF7E7E;
    font-size: 64px;
    text-align: center;
}
.head p{
    color: #D8E9F0;
    font-size: 18px;
    text-align: center;
}
.imgAc{
    margin-left: 255px;
    width: 450px;
    height: 340px;
    display: block;
    border: none;
}
.detail{
    position: relative;
    top: -200px;
    left: 790px;
    margin-right: 1230px;
}
 */
