.snowman { 
    /* height: 432px;
    width: 432px;
    left: 20px;
    top: 3285px; */
    position: absolute;
    width: 46vw;
    left: -6vw;
    bottom: 16vw;
    animation: scale 2s ease-in-out alternate infinite;  
    transform-origin: bottom center;
}

@keyframes scale{
    0%{
        transform: rotatez(-5deg);
        
    }
    100%{
        transform: rotateZ(10deg);
    }
}


