.nav {
  position: sticky;
  top: 0;
  display: flex;
  height: 66px;
  justify-content: center;
  align-items: center;
  list-style: none;
  background: #1c2b2dd0;
  backdrop-filter: blur(6px);
}
.nav li {
  font-size: 1.125em;
  font-weight: bold;
  color: white;
  /* overflow: auto; */
  height: 100%;
}
.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4vmax;
  height: 100%;
  /* background-color: red; */
  text-decoration: none;
  color: unset;
}
.nav a:active, .nav a:hover {
  background-color: #ff7e7e;
  color: #1c2b2d;
}
.nav .logo {
  position: absolute;
}