@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');
 
.content{
    margin: 482px 135px 463px 135px;
    width: 565px;
}

h2{
    color: #FF7E7E;
    font-size: 64px;
}
p{
    color: #D8E9F0;
    font-size: 24px;
    text-align: justify;
    line-height: 40px;
    
}
.odori p{
    text-indent: 66px;
}

.img{
    width: 560px;
    height: 383px;
    border: 15px solid white;
    border-radius: 70px;
    position: relative;
    left: 700px;
    top: -270px;
}

.button{
    background-color: #FF7E7E;
    color: #D8E9F0;
    position: relative;
    left: 100px;
    top: -500px; 
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    font-family: Mitr; 
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: #FF7E7E;
    box-shadow: 0px 0px 10px 10px #FF7E7E;
}

.btn2 , .btn3{
    margin-left: 24px;
}
.btn1:focus{
    background-color: white;
    color: #FF7E7E;
    box-shadow: 0px 0px 10px 10px #FF7E7E;
}
.btn2:focus{
    background-color: white;
    color: #FF7E7E;
    box-shadow: 0px 0px 10px 10px #FF7E7E;
}
.btn3:focus{
    background-color: white;
    color: #FF7E7E;
    box-shadow: 0px 0px 10px 10px #FF7E7E;
}
.mascot4{
    width: 210px;
    height: 220px;
    position: relative;
    left: 500px;
    top: -260px;
}