.carousel-inner{
  text-align: center;
  /* overflow: visible; */
}
.head{
  color: #FF7E7E;
  font-size: 64px;
  font-weight: bold;
}
.carousel1 button{
 margin-left: 50px;
}
div{
  text-align: center;
}

/* button{
  background-color: #FF7E7E ;
  border:none;
  position: relative;
  top: 40px;
  font-size: 20px;
  box-shadow:  0px 10px 15px ;
} */
.carousel{
  border-radius: 50%;
  padding: 15px 18px 12px 13px;
}
.carousel1{
  margin-left: 70px;
  border-radius: 50%;
  padding: 15px 13px 12px 18px;
}
