@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');

.content, .site {
  opacity: 0;
}
.content {
  margin-top: 1vw;
}
.site {
    position: absolute;
    width: min(640px, 35vw);
    border: min(1vw, 12px) solid white;
    border-radius: 5vw;
    left: 57vw;
    top: 6vw;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: min(2.8vw, 55px);
  align-self: center;
}

.button{
    background-color: var(--color-primary);
    color: white;
    width: min(90px, 7vw);
    height: min(90px, 7vw);
    border-radius: 50%;
    border: none;
    font-family: Mitr; 
    font-weight: 600;
    font-size: min(48px, 3.5vw);
    cursor: pointer;
    outline: none;
    box-shadow: 0px .5vw rgba(0, 0, 0, 0.3);
}

.button + .button {
  margin-left: 3vw;
}

.button:hover, .button:focus {
    background-color: white;
    color: var(--color-primary);
    box-shadow: 0px 0px 10px 10px var(--color-primary);
}

.mascot4{
    width: 18vw;
    position: absolute;
    left: 50vw;
    bottom: 14vw;
}

.content.animate {
  animation: fadeUp .6s forwards;
}

.site.animate {
  animation: fadeUp .8s forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(3vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}