:root {
  --color-primary: #ff7e7e;
  --color-secondary: #1c2b2d;
  --color-light: #d8e9f0;
}
/* mali-regular - thai_latin */
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-weight: 400;
  src: local('Mali Regular'), local('Mali-Regular'),
       url('./assets/fonts/mali-v4-thai_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/mali-v4-thai_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mali-700 - thai_latin */
@font-face {
  font-family: 'Mali';
  font-style: normal;
  font-weight: 700;
  src: local('Mali Bold'), local('Mali-Bold'),
       url('./assets/fonts/mali-v4-thai_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/mali-v4-thai_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Mali', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C2B2D;
  /* scroll-behavior: smooth; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .App {
  width: 100%;
}

html{
  scroll-behavior: smooth;
}
